body {
  font-family: $font-primary;
  background-color: $bg-color;
  background-color: #000000;
  background-color: #f1f1f1;
  background: black;
  // opacity: 0.9;
  // background: radial-gradient(
  //     circle,
  //     transparent 20%,
  //     #f1f1f1 20%,
  //     #f1f1f1 80%,
  //     transparent 80%,
  //     transparent
  //   ),
  //   radial-gradient(
  //       circle,
  //       transparent 20%,
  //       #f1f1f1 20%,
  //       #f1f1f1 80%,
  //       transparent 80%,
  //       transparent
  //     )
  //     65px 65px,
  //   linear-gradient(#e0e0e0 5.2px, transparent 5.2px) 0 -2.6px,
  //   linear-gradient(90deg, #e0e0e0 5.2px, #f1f1f1 5.2px) -2.6px 0;
  // background-size: 130px 130px, 130px 130px, 65px 65px, 65px 65px;
}
